{% extends '../base.html' %}

{% block title %}
    Register
{% endblock%}

{% block body %}

    <div>
        <div>
            <form action="">
                <label for="username"> UserName: </label>
                <input type="text" name= "username" id="username">
                <label for="fullname">FullName: </label>
                <input type="text" name= "fullName" id="fullname">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
            </form>
        </div>
    </div>
{% endblock %}